@charset "utf-8";
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
class,
img {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  border: 0 solid transparent;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
  display: block;
  font-family: 'montserrat', sans-serif;
}
img,
object,
embed,
canvas,
video,
audio,
picture {
  max-width: 100%;
  height: auto;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
input,
textarea {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border: 0;
  line-height: 40px;
  text-indent: 20px;
  outline: none;
}
.clear {
  display: block;
  zoom: 1;
}
.clear:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.none {
  display: none;
}
section.container_allprofil div.gauche {
  background-color: #080808;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 18%;
  float: left;
  align-items: center;
  padding-top: 30px;
}
section.container_allprofil div.gauche img {
  width: 50%;
  margin-bottom: 30px;
}
section.container_allprofil div.gauche span {
  width: 80%;
  display: block;
  height: 2px;
  background-color: white;
  margin-bottom: 5px;
}
section.container_allprofil div.gauche button {
  width: 80%;
  height: 60px;
  border: 0;
  cursor: default;
  color: #151515;
  margin-bottom: 50px;
}
section.container_allprofil div.gauche article {
  width: 70%;
  margin-bottom: 15px;
}
section.container_allprofil div.gauche article a img {
  width: 100%;
  margin: 0;
  transition: all 0.5s;
}
section.container_allprofil div.gauche article a img:hover {
  scale: 1.02;
}
section.container_allprofil div.gauche a.voirjeux {
  width: 70%;
  background-color: #3c2d87;
  color: white;
  text-align: center;
  padding: 5px 0;
  margin-bottom: 65px;
}
section.container_allprofil div.droite {
  width: 82%;
  float: left;
  height: 100vh;
  background-color: #151515;
}
section.container_allprofil div.droite div.haut {
  width: 100%;
  height: 30vh;
  background-image: url(../asset/backnav.png);
  background-position: center;
  border-bottom: solid 5px #363636;
}
section.container_allprofil div.droite div.haut nav.home {
  z-index: 1000;
  float: left;
  margin-top: 70px;
  margin-left: 70px;
}
section.container_allprofil div.droite div.haut nav.home ul {
  display: flex;
}
section.container_allprofil div.droite div.haut nav.home ul li {
  list-style-type: none;
  margin-right: 20px;
}
section.container_allprofil div.droite div.haut nav.home ul li a {
  padding: 10px 15px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.5s;
}
section.container_allprofil div.droite div.haut nav.home ul li a:hover {
  background-color: white;
  color: #3c2d87;
}
section.container_allprofil div.droite div.haut nav.home ul li a.on {
  background-color: white;
  color: #3c2d87;
}
section.container_allprofil div.droite div.haut div.navdroite {
  margin-top: 65px;
  margin-right: 70px;
  margin-bottom: 15px;
  display: flex;
  float: right;
}
section.container_allprofil div.droite div.haut div.navdroite #searchbar {
  width: 300px ;
  height: 40px;
  outline: none;
  margin: 0;
}
section.container_allprofil div.droite div.haut div.navdroite ul.searchjeu {
  position: absolute;
  top: 107px;
  width: 300px;
  background-color: white;
  visibility: hidden;
  opacity: 0;
}
section.container_allprofil div.droite div.haut div.navdroite ul.searchjeu li {
  background-color: white;
  list-style: none;
  padding: 10px;
  height: auto;
  transition: all 0.5s;
}
section.container_allprofil div.droite div.haut div.navdroite ul.searchjeu li:hover {
  background-color: #e2e2e2;
}
section.container_allprofil div.droite div.haut div.navdroite ul.searchjeu li a {
  display: flex;
  justify-content: space-between;
}
section.container_allprofil div.droite div.haut div.navdroite ul.searchjeu li a img {
  margin-right: 5px;
}
section.container_allprofil div.droite div.haut div.navdroite ul.searchjeu li a article {
  width: 59%;
}
section.container_allprofil div.droite div.haut div.navdroite ul.searchjeu li a article h3 {
  font-size: 13px;
  margin-bottom: 3px;
  font-weight: 800;
}
section.container_allprofil div.droite div.haut div.navdroite ul.searchjeu li a article p {
  font-size: 9px;
}
section.container_allprofil div.droite div.haut div.navdroite ul.searchjeu span {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background-color: #c5c5c5;
}
section.container_allprofil div.droite div.haut div.navdroite img.icone {
  width: 40px ;
  height: 40px;
  background-color: #3c2d87;
  padding: 7px;
  margin-left: 50px;
}
section.container_allprofil div.droite div.haut div.navdroite a.deco {
  height: 40px;
  color: white;
  padding: 10px 10px;
  transition: all 0.5s;
}
section.container_allprofil div.droite div.haut div.navdroite a.deco:hover {
  color: #241a5a;
  background-color: white;
}
section.container_allprofil div.droite div.haut div.navdroite a.user {
  margin-right: 10px;
  color: white;
  background-color: #3c2d87;
  line-height: 40px;
  padding: 0 10px;
  transition: all 0.5s;
  border: 0;
}
section.container_allprofil div.droite div.haut div.navdroite a.user:hover {
  background-color: #2b2064;
}
section.container_allprofil div.droite div.haut div.navdroite a.btnadmin {
  color: white;
  line-height: 40px;
  padding: 0 10px;
  background-color: red;
  transition: all 0.5s;
}
section.container_allprofil div.droite div.haut div.navdroite a.btnadmin:hover {
  background-color: #b60202;
}
section.container_allprofil div.droite div.haut span.barre {
  z-index: 1000;
  display: block;
  height: 2px;
  width: 92.5%;
  background-color: white;
  margin: 0 auto;
}
section.container_allprofil div.droite div.bas {
  height: 70vh;
  padding: 0 40px;
}
section.container_allprofil div.droite div.bas article {
  display: flex;
  margin-top: -75px;
  margin-bottom: 10px;
}
section.container_allprofil div.droite div.bas article img {
  width: 150px;
  border: solid 2px white;
}
section.container_allprofil div.droite div.bas article p {
  color: white;
  line-height: 75px;
  font-size: 30px;
  font-weight: 800;
  margin-left: 20px;
  text-transform: uppercase;
}
section.container_allprofil div.droite div.bas div.update {
  display: flex;
  width: 100%;
}
section.container_allprofil div.droite div.bas div.update div.titre_update {
  width: 40%;
  margin-top: 15px;
  margin-right: 70px;
}
section.container_allprofil div.droite div.bas div.update div.titre_update p {
  text-align: right;
  color: white;
  font-size: 20px;
  line-height: 60px;
}
section.container_allprofil div.droite div.bas div.update div.titre_update button.modif {
  float: right;
  background-color: white;
  margin-top: 20px;
  font-weight: 600;
  color: #151515;
  border: 0;
  height: 30px;
  width: 150px;
  transition: all 0.5s;
  font-size: 10px;
  cursor: pointer;
}
section.container_allprofil div.droite div.bas div.update div.titre_update button.modif:hover {
  background-color: #cccbcb;
}
section.container_allprofil div.droite div.bas div.update span.update {
  width: 1px;
  display: block;
  height: 500px;
  background-color: white;
}
section.container_allprofil div.droite div.bas div.update div.profil_update {
  width: 90%;
  margin-top: 15px;
  margin-left: 70px;
}
section.container_allprofil div.droite div.bas div.update div.profil_update p {
  color: white;
  font-size: 20px;
  line-height: 60px;
}
section.container_allprofil div.droite div.bas div.update div.profil_update div.mdp {
  display: flex;
}
section.container_allprofil div.droite div.bas div.update div.profil_update div.mdp button {
  background-color: white;
  margin-top: 15px;
  margin-left: 20px;
  font-weight: 600;
  color: #151515;
  border: 0;
  height: 20px;
  width: 150px;
  transition: all 0.5s;
  font-size: 10px;
  cursor: pointer;
}
section.container_allprofil div.droite div.bas div.update div.profil_update div.mdp button:hover {
  background-color: #cccbcb;
}
section.container_allprofil div.droite div.bas div.update div.profil_update button.supprcompte {
  background-color: #ff3333;
  margin-top: 20px;
  color: white;
  border: 0;
  height: 30px;
  width: 150px;
  transition: all 0.5s;
  font-size: 10px;
  cursor: pointer;
}
section.container_allprofil div.droite div.bas div.update div.profil_update button.supprcompte:hover {
  background-color: #d52727;
}
section.container_allprofil div.droite div.bas div.update div.score {
  margin-top: -50px;
  padding-left: 60px;
}
section.container_allprofil div.droite div.bas div.update div.score div.hautscore img {
  margin-bottom: 25px;
}
section.container_allprofil div.droite div.bas div.update div.score div.hautscore article {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
section.container_allprofil div.droite div.bas div.update div.score div.hautscore article p {
  line-height: 0;
  margin: 0;
}
section.container_allprofil div.droite div.bas div.update div.score div.hautscore article p.bestscore {
  font-weight: 200;
  text-transform: none;
  font-size: 24px;
}
section.container_allprofil div.droite div.bas div.update div.score div.hautscore article p.bestscore span {
  font-weight: 800;
}
section.container_allprofil div.droite div.bas div.update div.score .hautscorejprix {
  display: none;
}
section.container_allprofil div.droite div.bas div.update div.score .hautscore7diff {
  display: none;
}
section.container_allprofil div.droite div.bas div.update div.score .hautscoresnake {
  display: none;
}
section.container_allprofil div.droite div.bas div.update div.score .hautscoreflappybird {
  display: none;
}
section.container_allprofil div.droite div.bas div.update div.score .hautscorepingpong {
  display: none;
}
section.container_allprofil div.droite div.bas div.update div.score div.basscore {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section.container_allprofil div.droite div.bas div.update div.score div.basscore img {
  cursor: pointer;
  width: 32%;
  margin-bottom: 10px;
  overflow: hidden;
}
section.container_allprofil div.droite div.bas div.update div.score div.basscore img.btnscoresnake {
  cursor: default;
}
section.container_allprofil div.droite div.bas div.update div.score div.basscore img.btnscorepingpong {
  cursor: default;
}
section.container_allprofil div.droite div.bas div.update div.score div.basscore img.test {
  -webkit-filter: grayscale(100%);
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
  transition: all 0.5s;
}
section.container_allprofil div.droite div.bas div.update div.score div.basscore img.test:hover {
  -webkit-filter: grayscale(0%);
  /* Chrome, Safari, Opera */
  filter: grayscale(0%);
}
section.formupdate_profil {
  display: none;
  position: absolute;
  top: 0;
  background-color: #080808bb;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
section.formupdate_profil img {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  cursor: pointer;
}
section.formupdate_profil form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  width: 500px;
  background-color: white;
}
section.formupdate_profil form h2 {
  color: #393795;
  text-align: center;
  margin-bottom: 20px;
  font-size: 29px;
  font-weight: 800;
}
section.formupdate_profil form label {
  font-size: 13px;
  font-weight: 600;
}
section.formupdate_profil form div.box-form {
  width: 49%;
}
section.formupdate_profil form input {
  background-color: #dadada;
}
section.formupdate_profil form input.submitprofile {
  margin: 0;
  width: 40%;
  color: white;
  background-color: #393795;
  height: 30px;
  line-height: 30px;
  pad: 0 10px;
  text-indent: 0;
  cursor: pointer;
  transition: all 0.5s;
}
section.formupdate_profil form input.submitprofile:hover {
  background-color: #2b2064;
}
div.succes {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 420px;
  height: 90px;
  background-color: #101010d6;
  border-radius: 5px;
  border: solid 1px #4af74a;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: succes 0.3s linear;
}
div.succes img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
div.succes article {
  display: flex;
  flex-direction: column;
}
div.succes article h3 {
  color: white;
  font-size: 18px;
  margin-top: 0;
}
div.succes article p {
  color: white;
  font-size: 13px;
  margin-bottom: 3px;
}
div.succes article button {
  color: white;
  background-color: #4af74a;
  border: 0;
  width: 150px;
  height: 20px ;
  cursor: pointer;
  border-radius: 2px;
}
@keyframes succes {
  0% {
    left: -500px;
  }
  100% {
    opacity: 20px;
  }
}
div.error {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 420px;
  height: 90px;
  background-color: #101010d6;
  border-radius: 5px;
  border: solid 1px #ff3333;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: error 0.3s linear;
}
div.error img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
div.error article {
  display: flex;
  flex-direction: column;
}
div.error article h3 {
  color: white;
  font-size: 18px;
  margin-top: 0;
}
div.error article p {
  color: white;
  font-size: 13px;
  margin-bottom: 3px;
}
div.error article button {
  color: white;
  background-color: #ff3333;
  border: 0;
  width: 150px;
  height: 20px ;
  cursor: pointer;
  border-radius: 2px;
}
@keyframes error {
  0% {
    left: -500px;
  }
  100% {
    opacity: 20px;
  }
}
section.suppression {
  display: none;
  position: absolute;
  top: 0;
  background-color: #080808bb;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
section.suppression div.supprimcompte {
  width: 700px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.suppression div.supprimcompte img {
  width: 140px;
  margin-right: 30px;
}
section.suppression div.supprimcompte article {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.suppression div.supprimcompte article h2 {
  color: #ff3333;
  font-size: 28px ;
  font-weight: 800;
}
section.suppression div.supprimcompte article p {
  margin-bottom: 10px;
}
section.suppression div.supprimcompte article p.topsuppr {
  margin-bottom: 15px;
}
section.suppression div.supprimcompte article div.btnsuppr {
  display: flex;
}
section.suppression div.supprimcompte article div.btnsuppr form {
  height: 30px;
  margin-right: 20px;
}
section.suppression div.supprimcompte article div.btnsuppr form input {
  background-color: #ff3333;
  padding: 0 15px;
  text-indent: 0;
  color: white;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  transition: all 0.5s;
}
section.suppression div.supprimcompte article div.btnsuppr form input:hover {
  background-color: #d52727;
}
section.suppression div.supprimcompte article div.btnsuppr button {
  width: 40%;
  background-color: #151515;
  text-indent: 0;
  color: white;
  height: 30px;
  line-height: 30px;
  border: 0;
  cursor: pointer;
}
section.reconnexion {
  position: absolute;
  top: 0;
  background-color: #080808bb;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.reconnexion div {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px 0;
}
section.reconnexion div h2 {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
  color: #393795;
}
section.reconnexion div article p {
  margin-bottom: 10px;
}
section.reconnexion div article a {
  float: left;
  font-size: 14px;
  padding: 5px 10px;
  background-color: #393795;
  color: white;
}
section.container_formmdp {
  display: flex;
  background-color: #080808bb;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
section.container_formmdp div.formmdp {
  background-color: white;
  width: 500px;
  padding: 20px 50px;
}
section.container_formmdp div.formmdp form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
section.container_formmdp div.formmdp form h2 {
  font-size: 25px;
  color: #393795;
  font-weight: 800;
  margin-bottom: 20px;
}
section.container_formmdp div.formmdp form input {
  width: 100%;
  background-color: #d8d8d8;
}
section.container_formmdp div.formmdp form input.submitmdp {
  height: 40px;
  line-height: 40px;
  width: 40% ;
  text-indent: 0;
  background-color: #393795;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}
section.container_formmdp div.formmdp form input.submitmdp:hover {
  background-color: #3c2d87;
}
section.container_formmdp div.formmdp img {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  cursor: pointer;
}
section.none {
  display: none;
}
