@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK0nS.ttf) format('truetype');
}
body {
  margin: 0;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  user-select: none;
  background-color: #393795;
}
section.container_header {
  position: relative;
  margin-top: 120px;
}
section.container_header header {
  margin: 0 auto;
  width: 431px;
}
section.container_header header .score-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 15px;
  background: #1699b7;
}
section.container_header header .score-container div#bestScore {
  font-size: 13px;
  letter-spacing: 0px;
  color: white;
}
section.container_header header .score-container div#currentScore {
  font-size: 13px;
  letter-spacing: 0px;
  color: white;
}
section.container_header header .score-container input.subscorefb {
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 8px;
  text-indent: 0;
  margin-bottom: 0;
  background-color: #14829a;
  transition: all 0.5s;
  cursor: pointer;
}
section.container_header header .score-container input.subscorefb:hover {
  background-color: #116e83;
}
canvas {
  margin-top: -46px;
}
#myImage {
  display: none;
}
#myImage2 {
  display: none;
}
