@charset "utf-8";
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
class,
img {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  border: 0 solid transparent;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
  display: block;
  font-family: 'montserrat', sans-serif;
}
img,
object,
embed,
canvas,
video,
audio,
picture {
  max-width: 100%;
  height: auto;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
input,
textarea {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border: 0;
  line-height: 40px;
  text-indent: 20px;
  outline: none;
}
.clear {
  display: block;
  zoom: 1;
  width: 100%;
}
.clear:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
header {
  width: 100%;
  height: 100vh;
  background-image: url(../asset/back.jpg);
  background-size: cover;
  transition: all 0.5s;
}
header nav.home {
  z-index: 1000;
  float: left;
  margin-top: 70px;
  margin-left: 70px;
}
header nav.home ul {
  display: flex;
}
header nav.home ul li {
  list-style-type: none;
  margin-right: 20px;
}
header nav.home ul li a {
  padding: 10px 15px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.5s;
}
header nav.home ul li a:hover {
  background-color: white;
  color: #3c2d87;
}
header nav.home ul li a.on {
  background-color: white;
  color: #3c2d87;
}
header div.right {
  z-index: 1000;
  margin-top: 65px;
  margin-right: 115px;
  margin-bottom: 15px;
  float: right;
  display: flex;
}
header div.right #searchbar {
  width: 300px ;
  height: 40px;
  outline: none;
  margin: 0;
}
header div.right ul.searchjeu {
  position: absolute;
  top: 107px;
  width: 300px;
  background-color: white;
  visibility: hidden;
  opacity: 0;
}
header div.right ul.searchjeu li {
  background-color: white;
  list-style: none;
  padding: 10px;
  height: auto;
  transition: all 0.5s;
}
header div.right ul.searchjeu li:hover {
  background-color: #e2e2e2;
}
header div.right ul.searchjeu li a {
  display: flex;
  justify-content: space-between;
}
header div.right ul.searchjeu li a img {
  margin-right: 5px;
}
header div.right ul.searchjeu li a article {
  width: 59%;
}
header div.right ul.searchjeu li a article h3 {
  font-size: 13px;
  margin-bottom: 3px;
  font-weight: 800;
}
header div.right ul.searchjeu li a article p {
  font-size: 9px;
}
header div.right ul.searchjeu span {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background-color: #c5c5c5;
}
header div.right img.icone {
  width: 40px ;
  height: 40px;
  background-color: #2b2064;
  padding: 7px;
  margin-left: 50px;
}
header div.right a.user {
  color: white;
  background-color: #3c2d87;
  line-height: 40px;
  padding: 0 10px;
  transition: all 0.5s;
  border: 0;
}
header div.right a.user:hover {
  background-color: #2b2064;
}
header div.right a.btnadmin {
  color: white;
  line-height: 40px;
  padding: 0 10px;
  background-color: red;
  transition: all 0.5s;
}
header div.right a.btnadmin:hover {
  background-color: #b60202;
}
header div.right a.design {
  color: white;
  font-size: 16px;
  line-height: 40px;
  padding: 0 10px;
  margin-left: 10px;
  transition: all 0.5s;
}
header div.right a.design:hover {
  background-color: white;
  color: #2b2064;
}
header div.right button.log {
  color: white;
  background-color: #3c2d87;
  line-height: 40px;
  padding: 0 10px;
  transition: all 0.5s;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  font-family: 'montserrat', sans-serif;
  border: 0;
}
header div.right button.log:hover {
  background-color: #2b2064;
}
header div.right a.sign {
  color: white;
  line-height: 40px;
  padding: 0 10px;
  transition: all 0.5s;
}
header div.right a.sign:hover {
  background-color: white;
  color: #3c2d87;
}
header span.barre {
  z-index: 1000;
  display: block;
  height: 2px;
  width: 92.5%;
  background-color: white;
  margin: 0 auto 125px;
}
header section.container_quizz {
  width: 1100px;
  height: 560px;
  margin: 0 auto;
  background-color: #0b0b0b;
  padding-top: 70px;
}
header section.container_quizz h1 {
  color: white;
  font-size: 90px;
  text-align: center;
  margin-bottom: 20px;
}
header section.container_quizz section.demarage {
  padding: 50px;
}
header section.container_quizz section.demarage div.explication h2 {
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
}
header section.container_quizz section.demarage div.explication p {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}
header section.container_quizz section.demarage div.explication button {
  width: 40%;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s;
  border: 0;
}
header section.container_quizz section.demarage div.explication button:hover {
  background-color: #d2d2d2;
}
header section.container_quizz section div {
  padding: 0 50px;
  justify-content: center;
}
header section.container_quizz section div p {
  color: white;
  margin-bottom: 15px;
}
header section.container_quizz section div div.flex {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 15px;
}
header section.container_quizz section div div.flex input {
  width: 48%;
  cursor: pointer;
}
section.echec {
  position: relative;
  display: none;
  top: -100%;
  width: 100%;
  height: 100vh;
  background-color: #0b0b0bf6;
  overflow: hidden;
}
section.echec img {
  width: auto;
  height: 100vh;
  z-index: 1;
}
section.echec .echtop {
  position: absolute;
  top: 0;
  left: 0;
  animation: echtopslide 0.2s linear;
}
section.echec .echbot {
  position: absolute;
  top: 0;
  right: 0;
  animation: echbotslide 0.2s linear;
}
section.echec div.affichage_echec {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  animation: showscoreechec 1s linear;
}
section.echec div.affichage_echec div.position_echec {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.echec div.affichage_echec div.position_echec h2 {
  color: white;
  font-size: 157px;
  font-weight: 1000;
}
section.echec div.affichage_echec div.position_echec p.titrescore {
  color: white;
  font-size: 30px;
}
section.echec div.affichage_echec div.position_echec p.scoreechec {
  color: white;
  font-size: 60px;
  margin-bottom: 30px;
  font-weight: 800;
}
section.echec div.affichage_echec div.position_echec article.bouton_echec {
  width: 50%;
  display: flex;
  justify-content: center;
}
section.echec div.affichage_echec div.position_echec article.bouton_echec a {
  width: 30%;
  height: 50px;
  border: 0;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  background-color: white;
  transition: all 0.5s;
}
section.echec div.affichage_echec div.position_echec article.bouton_echec a:hover {
  background-color: #c1c1c1;
}
section.echec div.affichage_echec div.position_echec article.bouton_echec a.reco {
  margin: 0 15px;
  background-color: #ff0036;
  color: white;
  transition: all 0.5s;
}
section.echec div.affichage_echec div.position_echec article.bouton_echec a.reco:hover {
  background-color: #c8012c;
}
section.echec div.affichage_echec div.position_echec article.bouton_echec form {
  width: 30%;
}
section.echec div.affichage_echec div.position_echec article.bouton_echec form input {
  text-indent: 0;
  cursor: pointer;
  transition: all 0.5s;
}
section.echec div.affichage_echec div.position_echec article.bouton_echec form input:hover {
  background-color: #c1c1c1;
}
@keyframes echtopslide {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes echbotslide {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes showscoreechec {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
section.win {
  position: relative;
  display: none;
  top: -100%;
  width: 100%;
  height: 100vh;
  background-color: #0b0b0bf6;
  overflow: hidden;
}
section.win img {
  width: auto;
  height: 100vh;
  z-index: 1;
}
section.win .wintop {
  position: absolute;
  top: 0;
  left: 0;
  animation: wintopslide 0.2s linear;
}
section.win .winbot {
  position: absolute;
  top: 0;
  right: 0;
  animation: winbotslide 0.2s linear;
}
section.win div.affichage_win {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  animation: showscore 1s linear;
}
section.win div.affichage_win div.position_win {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.win div.affichage_win div.position_win h2 {
  color: white;
  font-size: 157px;
  font-weight: 1000;
}
section.win div.affichage_win div.position_win p.titrescore {
  color: white;
  font-size: 30px;
}
section.win div.affichage_win div.position_win p.scorewinner {
  color: white;
  font-size: 60px;
  margin-bottom: 30px;
  font-weight: 800;
}
section.win div.affichage_win div.position_win article.bouton_win {
  width: 50%;
  display: flex;
  justify-content: center;
}
section.win div.affichage_win div.position_win article.bouton_win a {
  width: 30%;
  height: 50px;
  border: 0;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
  background-color: white;
  transition: all 0.5s;
}
section.win div.affichage_win div.position_win article.bouton_win a:hover {
  background-color: #c1c1c1;
}
section.win div.affichage_win div.position_win article.bouton_win a.reco2 {
  margin: 0 15px;
  background-color: #3c2d87;
  color: white;
  transition: all 0.5s;
}
section.win div.affichage_win div.position_win article.bouton_win a.reco2:hover {
  background-color: #2b2064;
}
section.win div.affichage_win div.position_win article.bouton_win form {
  width: 30%;
}
section.win div.affichage_win div.position_win article.bouton_win form input {
  text-indent: 0;
  cursor: pointer;
  transition: all 0.5s;
}
section.win div.affichage_win div.position_win article.bouton_win form input:hover {
  background-color: #c1c1c1;
}
@keyframes wintopslide {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes winbotslide {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes showscore {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.demarage {
  display: block;
}
.question1 {
  margin-top: 40px;
  display: none;
}
.reussite {
  display: none;
  padding-left: 50px;
}
.reussite button.questionSuivante {
  width: 25%;
  height: 30px;
  background-color: white;
  border: 0;
  cursor: pointer;
}
.question2 {
  display: none;
}
.question3 {
  display: none;
}
.question4 {
  display: none;
}
.question5 {
  display: none;
}
.question6 {
  display: none;
}
.question7 {
  display: none;
}
.question8 {
  display: none;
}
.question9 {
  display: none;
}
.question10 {
  display: none;
}
section.login {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.858);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.login div.connexion {
  background-color: white;
  width: 550px;
  height: 540px;
  padding: 110px 95px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.login div.connexion form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 63px;
}
section.login div.connexion form h2 {
  color: #393795;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 25px;
}
section.login div.connexion form input {
  background-color: #d2d2d2;
}
section.login div.connexion form input.connecter {
  text-indent: 0;
  background-color: #393795;
  color: white;
  cursor: pointer;
  width: 40%;
  height: 40px;
}
section.login div.connexion form input.connecter:hover {
  background-color: #2b2064;
}
section.login div.connexion form p {
  font-size: 13px;
}
section.login div.connexion img {
  width: 110px;
  margin-bottom: 5px;
}
section.login div.connexion p.inscriptionhome {
  color: #191919;
}
section.login div.connexion p.inscriptionhome a {
  color: #393795;
}
section.login img.closelogin {
  width: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
