@charset "utf-8";
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
class,
img {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  border: 0 solid transparent;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
  display: block;
  font-family: 'montserrat', sans-serif;
}
img,
object,
embed,
canvas,
video,
audio,
picture {
  max-width: 100%;
  height: auto;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
input,
textarea {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border: 0;
  line-height: 40px;
  text-indent: 20px;
  outline: none;
}
.clear {
  display: block;
  zoom: 1;
}
.clear:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
header .accueil {
  display: flex;
}
header .jeujp {
  display: none;
}
header {
  width: 100%;
  height: 100vh;
  background-color: #3c2d87;
  display: flex;
}
header section.accueil div.startgame {
  width: 505px;
}
header section.accueil div.startgame h1 {
  margin-bottom: 0;
}
header section.accueil div.startgame P {
  color: white;
  margin-bottom: 10px;
}
header section.accueil div.startgame button {
  background-color: #241a5a;
  transition: all 0.5s;
  color: white;
  border: 0;
}
header section.accueil div.startgame button:hover {
  background-color: #181140;
}
header .jeujp {
  display: none;
}
header .corps {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: 100%;
  background-image: url(../../../asset/backjusteprix.jpg);
  background-position: center;
}
header .corps h1 {
  font-size: 40px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}
header .corps input {
  width: 500px;
  height: 50px;
}
header .corps button {
  width: 500px;
  height: 40px;
  cursor: pointer;
  margin-bottom: 50px;
}
header .corps p {
  color: white;
  margin-bottom: 10px;
}
header .corps p.affichscore {
  font-weight: 800;
  font-size: 40px;
}
header .corps span {
  height: 10px;
  width: 100%;
  background-color: #161616;
  display: block;
  position: absolute;
  bottom: 0;
}
header div.right {
  width: 50%;
  height: 100%;
}
header div.right .imageprix {
  width: 100%;
  height: 70%;
  background-color: #161616;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
header div.right .imageprix p.trouvezprix {
  color: white;
  font-size: 25px;
  margin-bottom: 15px;
  display: none;
}
header div.right .imageprix img {
  width: 50%;
}
header div.right .reponse {
  background-color: white;
  height: 30%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header div.right .reponse p {
  background-color: #3c2d87;
  line-height: 60px;
  height: 23%;
  color: white;
  width: 99%;
  text-align: center;
  margin: 0.3% 0;
}
header div.navinscri {
  position: absolute;
  top: 0;
  width: 100%;
}
header div.navinscri nav.home {
  z-index: 1000;
  float: left;
  margin-top: 70px;
  margin-left: 70px;
}
header div.navinscri nav.home ul {
  display: flex;
}
header div.navinscri nav.home ul li {
  list-style-type: none;
  margin-right: 20px;
}
header div.navinscri nav.home ul li a {
  padding: 10px 15px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.5s;
}
header div.navinscri nav.home ul li a:hover {
  background-color: white;
  color: #3c2d87;
}
header div.navinscri nav.home ul li a.on {
  background-color: white;
  color: #3c2d87;
}
header div.navinscri div.navright {
  margin-top: 65px;
  margin-right: 115px;
  margin-bottom: 15px;
  float: right;
  display: flex;
}
header div.navinscri div.navright #searchbar {
  width: 300px ;
  height: 40px;
  outline: none;
  margin: 0;
}
header div.navinscri div.navright ul.searchjeu {
  position: absolute;
  top: 107px;
  width: 300px;
  background-color: white;
  visibility: hidden;
  opacity: 0;
}
header div.navinscri div.navright ul.searchjeu li {
  background-color: white;
  list-style: none;
  padding: 10px;
  height: auto;
  transition: all 0.5s;
}
header div.navinscri div.navright ul.searchjeu li:hover {
  background-color: #e2e2e2;
}
header div.navinscri div.navright ul.searchjeu li a {
  display: flex;
  justify-content: space-between;
}
header div.navinscri div.navright ul.searchjeu li a img {
  margin-right: 5px;
}
header div.navinscri div.navright ul.searchjeu li a article {
  width: 59%;
}
header div.navinscri div.navright ul.searchjeu li a article h3 {
  font-size: 13px;
  margin-bottom: 3px;
  font-weight: 800;
}
header div.navinscri div.navright ul.searchjeu li a article p {
  font-size: 9px;
}
header div.navinscri div.navright ul.searchjeu span {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background-color: #c5c5c5;
}
header div.navinscri div.navright img.icone {
  width: 40px ;
  height: 40px;
  background-color: #2b2064;
  padding: 7px;
  margin-left: 50px;
}
header div.navinscri div.navright a.user {
  color: white;
  background-color: #3c2d87;
  line-height: 40px;
  padding: 0 10px;
  transition: all 0.5s;
  border: 0;
}
header div.navinscri div.navright a.user:hover {
  background-color: #2b2064;
}
header div.navinscri div.navright button.user {
  font-family: montserrat;
  color: white;
  background-color: #3c2d87;
  line-height: 40px;
  padding: 0 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: 10px;
  border: 0;
}
header div.navinscri div.navright button.user:hover {
  background-color: #2b2064;
}
header div.navinscri div.navright a.sign {
  color: white;
  line-height: 40px;
  padding: 0 10px;
  transition: all 0.5s;
}
header div.navinscri div.navright a.sign:hover {
  background-color: white;
  color: #3c2d87;
}
header div.navinscri div.navright a.btnadmin {
  color: white;
  line-height: 40px;
  padding: 0 10px;
  background-color: red;
  transition: all 0.5s;
}
header div.navinscri div.navright a.btnadmin:hover {
  background-color: #b60202;
}
header div.navinscri div.navright a.design {
  color: white;
  font-size: 16px;
  line-height: 40px;
  padding: 0 10px;
  margin-left: 10px;
  transition: all 0.5s;
}
header div.navinscri div.navright a.design:hover {
  background-color: white;
  color: #2b2064;
}
header div.navinscri span.barre {
  display: block;
  height: 2px;
  width: 92.5%;
  background-color: white;
  margin: 0 auto;
}
section.win {
  position: relative;
  display: none;
  top: -100%;
  width: 100%;
  height: 100vh;
  background-color: #0b0b0bf6;
  overflow: hidden;
}
section.win video {
  width: 120%;
  height: 116%;
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 85%;
}
section.win div.affichage_win {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100vh;
  animation: showscore 1s linear;
}
section.win div.affichage_win div.position_win {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.win div.affichage_win div.position_win img {
  margin-bottom: 10px;
}
section.win div.affichage_win div.position_win p.titrescore {
  color: white;
  font-size: 30px;
}
section.win div.affichage_win div.position_win p.scorejp {
  color: white;
  font-size: 60px;
  margin-bottom: 30px;
  font-weight: 800;
}
section.win div.affichage_win div.position_win article.bouton_win {
  width: 50%;
  display: flex;
  justify-content: center;
}
section.win div.affichage_win div.position_win article.bouton_win button {
  width: 30%;
  height: 50px;
  border: 0;
  cursor: pointer;
  transition: all 0.5s;
}
section.win div.affichage_win div.position_win article.bouton_win button:hover {
  background-color: #c1c1c1;
}
section.win div.affichage_win div.position_win article.bouton_win button.reco {
  margin: 0 15px;
  background-color: #ffa800;
  color: white;
  transition: all 0.5s;
}
section.win div.affichage_win div.position_win article.bouton_win button.reco:hover {
  background-color: #d38d02;
}
section.win div.affichage_win div.position_win article.bouton_win form {
  width: 30%;
}
section.win div.affichage_win div.position_win article.bouton_win form input {
  text-indent: 0;
  cursor: pointer;
  transition: all 0.5s;
}
section.win div.affichage_win div.position_win article.bouton_win form input:hover {
  background-color: #c1c1c1;
}
@keyframes wintopslide {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes winbotslide {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}
@keyframes showscore {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
