@charset "utf-8";
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
class,
img {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  border: 0 solid transparent;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
  display: block;
  font-family: 'montserrat', sans-serif;
}
img,
object,
embed,
canvas,
video,
audio,
picture {
  max-width: 100%;
  height: auto;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
input,
textarea {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border: 0;
  line-height: 40px;
  text-indent: 20px;
  outline: none;
}

.sectImg{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.caseImage {

    padding: 10px;
    border: 4px solid grey;
    border-radius: 5%;
}

.clear {
  display: block;
  zoom: 1;
}
.clear:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.corps7diff{
    width:1000px;
    height:500px;
    position:relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    flex-direction: row;
    z-index: 0;
}

.corps7diff img {
    padding: 0%;
    margin: 0%;
}

.btnAll {
    position:absolute;
    top:0;
    right: 0;
    width:500px;
    height:500px;
    z-index: 1;

}

.erreurs{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 1s;
    pointer-events: none;
    display: none;
}