@charset "utf-8";
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
class,
img {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  border: 0 solid transparent;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
  display: block;
  font-family: 'montserrat', sans-serif;
}
img,
object,
embed,
canvas,
video,
audio,
picture {
  max-width: 100%;
  height: auto;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
input,
textarea {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border: 0;
  line-height: 40px;
  text-indent: 20px;
  outline: none;
}
.clear {
  display: block;
  zoom: 1;
}
.clear:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
header#test {
  width: 100%;
  height: 100vh;
  background-image: url(../asset/background-ratchetclank.jpg);
  background-size: cover;
  transition: all 0.5s;
}
header#test nav.home {
  z-index: 1000;
  float: left;
  margin-top: 70px;
  margin-left: 70px;
}
header#test nav.home ul {
  display: flex;
}
header#test nav.home ul li {
  list-style-type: none;
  margin-right: 20px;
}
header#test nav.home ul li a {
  padding: 10px 15px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.5s;
}
header#test nav.home ul li a:hover {
  background-color: white;
  color: #3c2d87;
}
header#test nav.home ul li a.on {
  background-color: white;
  color: #3c2d87;
}
header#test div.right {
  z-index: 1000;
  margin-top: 65px;
  margin-right: 115px;
  margin-bottom: 15px;
  float: right;
  display: flex;
}
header#test div.right #searchbar {
  width: 300px ;
  height: 40px;
  outline: none;
  margin: 0;
}
header#test div.right img {
  width: 40px ;
  height: 40px;
  background-color: #3c2d87;
  padding: 7px;
  margin-left: 50px;
}
header#test div.right a.user {
  color: white;
  background-color: #3c2d87;
  line-height: 40px;
  padding: 0 10px;
  transition: all 0.5s;
  border: 0;
}
header#test div.right a.user:hover {
  background-color: #2b2064;
}
header#test div.right a.btnadmin {
  color: white;
  line-height: 40px;
  padding: 0 10px;
  background-color: red;
  transition: all 0.5s;
}
header#test div.right a.btnadmin:hover {
  background-color: #b60202;
}
header#test div.right a.design {
  color: white;
  font-size: 16px;
  line-height: 40px;
  padding: 0 10px;
  margin-left: 10px;
  transition: all 0.5s;
}
header#test div.right a.design:hover {
  background-color: white;
  color: #2b2064;
}
header#test div.right button.log {
  color: white;
  background-color: #3c2d87;
  line-height: 40px;
  padding: 0 10px;
  transition: all 0.5s;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  font-family: 'montserrat', sans-serif;
  border: 0;
}
header#test div.right button.log:hover {
  background-color: #2b2064;
}
header#test div.right a.sign {
  color: white;
  line-height: 40px;
  padding: 0 10px;
  transition: all 0.5s;
}
header#test div.right a.sign:hover {
  background-color: white;
  color: #3c2d87;
}
header#test span.barre {
  z-index: 1000;
  display: block;
  height: 2px;
  width: 92.5%;
  background-color: white;
  margin: 0 auto;
}
header#test div.rondlogo {
  height: 500px;
  margin-left: 35px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}
header#test div.rondlogo article.span {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}
header#test div.rondlogo article.span span {
  display: block;
  height: 23px;
  width: 23px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 7px 0;
  transition: all 0.5s;
}
header#test div.rondlogo article.span span.rondun {
  display: block;
  height: 23px;
  width: 23px;
  background-color: white;
  border-radius: 50%;
  margin: 7px 0;
}
header#test div.rondlogo article.logotexte {
  padding-top: 70px;
}
header#test div.rondlogo article.logotexte img {
  width: 825px;
  margin-bottom: 10px;
}
header#test div.rondlogo article.logotexte p {
  text-align: justify;
  padding-left: 10px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
header#test div.rondlogo article.textejeu {
  display: none;
  margin-top: 70px;
  margin-bottom: 18px;
}
header#test div.rondlogo article.textejeu p.descrijeu {
  line-height: 25px;
}
header#test div.rondlogo article.textejeu h1 {
  font-size: 60px;
  margin-left: 10px;
  font-weight: 1000;
  margin-bottom: 20px;
  color: white;
  transition: all 0.5s;
}
header#test div.rondlogo article.textejeu p {
  transition: all 0.5s;
  padding-left: 10px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
header#test div.rondlogo article.textejeu a {
  color: white;
  padding: 15px 20px;
  background-color: #393795;
  margin-left: 10px;
  text-align: center;
  transition: all 0.5s;
}
header#test div.rondlogo article.textejeu a:hover {
  background-color: #2b2064;
}
header#test div.rondlogo article.textejeu a#aquizz {
  width: 180px;
}
header#test div.rondlogo article.textejeu a#a7diff {
  width: 200px;
}
header#test div.rondlogo article.textejeu a#ajusteprix {
  width: 200px;
}
header#test div.rondlogo article.textejeu a#asnake {
  width: 170px;
}
header#test div.rondlogo article.textejeu a#aflappybird {
  width: 210px;
}
header#test div.rondlogo article.textejeu a#apingpong {
  width: 210px;
}
header#test section.minijeu {
  width: 97%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
header#test section.minijeu h2 {
  color: white;
  margin-bottom: 20px;
}
header#test section.minijeu div.jeux {
  display: flex;
  justify-content: space-between;
}
header#test section.minijeu div.jeux article {
  width: 280px;
  transition: all 0.5s;
}
header#test section.minijeu div.jeux article:hover {
  cursor: pointer;
  scale: 1.07;
}
header#test section.minijeu div.jeux article h2 {
  text-align: center;
  background-color: white;
  padding: 5px 0;
  font-size: 15px;
  font-weight: 800;
  color: black;
}
section.login {
  visibility: hidden;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.858);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.login div.connexion {
  background-color: white;
  width: 550px;
  height: 540px;
  padding: 110px 95px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.login div.connexion form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 63px;
}
section.login div.connexion form h2 {
  color: #393795;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 25px;
}
section.login div.connexion form input {
  background-color: #d2d2d2;
}
section.login div.connexion form input.connecter {
  text-indent: 0;
  background-color: #393795;
  color: white;
  cursor: pointer;
  width: 40%;
  height: 40px;
}
section.login div.connexion form input.connecter:hover {
  background-color: #2b2064;
}
section.login div.connexion form p {
  font-size: 13px;
}
section.login div.connexion img {
  width: 110px;
  margin-bottom: 5px;
}
section.login div.connexion p.inscriptionhome {
  color: #191919;
}
section.login div.connexion p.inscriptionhome a {
  color: #393795;
}
section.login img.closelogin {
  width: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
header#inscription {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(../asset/background-ratchetclank.jpg);
  background-size: cover;
  transition: all 0.5s;
}
header#inscription section.inscriptiondroite {
  width: 50%;
  height: 100vh;
  float: right;
}
header#inscription section.inscriptiondroite div.droithaut {
  background-image: url(../asset/backmarioinscription.jpg);
  height: 65%;
  background-position: top;
}
header#inscription section.inscriptiondroite div.droitbas {
  background-color: white;
  padding-top: 25px;
  height: 35%;
}
header#inscription section.inscriptiondroite div.droitbas img {
  margin: 0 auto 25px;
  width: 550px;
}
header#inscription section.inscriptiondroite div.droitbas p {
  color: #3c2d87;
  text-align: center;
}
header#inscription section.inscriptiongauche {
  background-image: url(../asset/backgaucheinscription.jpg);
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header#inscription section.inscriptiongauche form {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin-top: 100px;
  justify-content: space-between;
}
header#inscription section.inscriptiongauche form h1 {
  color: white;
  font-size: 45px;
  margin-bottom: 20px;
  text-align: center;
}
header#inscription section.inscriptiongauche form input.nomprenom {
  width: 200px;
}
header#inscription section.inscriptiongauche form input.boutonenvoyer {
  width: 200px;
  background-color: white;
  cursor: pointer;
  color: #3c2d87;
  padding: 0;
  transition: all 0.5s;
  text-indent: 0;
}
header#inscription section.inscriptiongauche form input.boutonenvoyer:hover {
  color: white;
  background-color: #130546;
}
header#inscription section.inscriptiongauche form p {
  color: white;
}
header#inscription div.navinscri {
  position: absolute;
  top: 0;
  width: 100%;
}
header#inscription div.navinscri nav.home {
  z-index: 1000;
  float: left;
  margin-top: 70px;
  margin-left: 70px;
}
header#inscription div.navinscri nav.home ul {
  display: flex;
}
header#inscription div.navinscri nav.home ul li {
  list-style-type: none;
  margin-right: 20px;
}
header#inscription div.navinscri nav.home ul li a {
  padding: 10px 15px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.5s;
}
header#inscription div.navinscri nav.home ul li a:hover {
  background-color: white;
  color: #3c2d87;
}
header#inscription div.navinscri nav.home ul li a.on {
  background-color: white;
  color: #3c2d87;
}
header#inscription div.navinscri div.right {
  margin-top: 65px;
  margin-right: 115px;
  margin-bottom: 15px;
  float: right;
  display: flex;
}
header#inscription div.navinscri div.right #searchbar {
  width: 300px ;
  height: 40px;
  outline: none;
  margin: 0;
}
header#inscription div.navinscri div.right img {
  width: 40px ;
  height: 40px;
  background-color: #3c2d87;
  padding: 7px;
  margin-left: 50px;
}
header#inscription div.navinscri div.right a.log {
  color: white;
  background-color: #3c2d87;
  line-height: 40px;
  padding: 0 10px;
  transition: all 0.5s;
}
header#inscription div.navinscri div.right a.log:hover {
  background-color: #2b2064;
}
header#inscription div.navinscri div.right a.sign {
  color: white;
  line-height: 40px;
  padding: 0 10px;
  transition: all 0.5s;
}
header#inscription div.navinscri div.right a.sign:hover {
  background-color: white;
  color: #3c2d87;
}
header#inscription div.navinscri span.barre {
  display: block;
  height: 2px;
  width: 92.5%;
  background-color: white;
  margin: 0 auto;
}
