@charset "utf-8";
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
class,
img {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  border: 0 solid transparent;
  font-size: 16px;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
  display: block;
  font-family: "montserrat", sans-serif;
  background-color: #3c2d87;
}
img,
object,
embed,
canvas,
video,
audio,
picture {
  max-width: 100%;
  height: auto;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: black;
}
input,
textarea {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  border: 0;
  line-height: 40px;
  text-indent: 20px;
  outline: none;
}
.clear {
  display: block;
  zoom: 1;
}
.clear:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
nav.home {
  z-index: 1000;
  float: left;
  margin-top: 70px;
  margin-left: 70px;
}
nav.home ul {
  display: flex;
}
nav.home ul li {
  list-style-type: none;
  margin-right: 20px;
}
nav.home ul li a {
  padding: 10px 15px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.5s;
}
nav.home ul li a:hover {
  background-color: white;
  color: #2b2064;
}
nav.home ul li a.on {
  background-color: white;
  color: #2b2064;
}
div.right {
  z-index: 1000;
  margin-top: 65px;
  margin-right: 115px;
  margin-bottom: 15px;
  float: right;
  display: flex;
}
div.right #searchbar {
  width: 300px;
  height: 40px;
  outline: none;
  margin: 0;
}
div.right ul.searchjeu {
  position: absolute;
  top: 107px;
  width: 300px;
  background-color: white;
  visibility: hidden;
  opacity: 0;
}
div.right ul.searchjeu li {
  background-color: white;
  list-style: none;
  padding: 10px;
  height: auto;
  transition: all 0.5s;
}
div.right ul.searchjeu li:hover {
  background-color: #e2e2e2;
}
div.right ul.searchjeu li a {
  display: flex;
  justify-content: space-between;
}
div.right ul.searchjeu li a img {
  margin-right: 5px;
}
div.right ul.searchjeu li a article {
  width: 59%;
}
div.right ul.searchjeu li a article h3 {
  font-size: 13px;
  margin-bottom: 3px;
  font-weight: 800;
}
div.right ul.searchjeu li a article p {
  font-size: 9px;
}
div.right ul.searchjeu span {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background-color: #c5c5c5;
}
div.right img.icone {
  width: 40px;
  height: 40px;
  background-color: #2b2064;
  padding: 7px;
  margin-left: 50px;
}
div.right a.user {
  color: white;
  background-color: #2b2064;
  line-height: 40px;
  padding: 0 10px;
  transition: all 0.5s;
  border: 0;
}
div.right a.user:hover {
  background-color: #2b2064;
}
div.right a.btnadmin {
  color: white;
  line-height: 40px;
  padding: 0 10px;
  background-color: red;
  transition: all 0.5s;
}
div.right a.btnadmin:hover {
  background-color: #b60202;
}
div.right a.design {
  color: white;
  font-size: 16px;
  line-height: 40px;
  padding: 0 10px;
  margin-left: 10px;
  transition: all 0.5s;
}
div.right a.design:hover {
  background-color: white;
  color: #2b2064;
}
div.right button.log {
  color: white;
  background-color: #2b2064;
  line-height: 40px;
  padding: 0 10px;
  transition: all 0.5s;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  font-family: "montserrat", sans-serif;
  border: 0;
}
div.right button.log:hover {
  background-color: #2b2064;
}
div.right a.sign {
  color: white;
  line-height: 40px;
  padding: 0 10px;
  transition: all 0.5s;
}
div.right a.sign:hover {
  background-color: white;
  color: #3c2d87;
}
span.barre {
  z-index: 1000;
  display: block;
  height: 2px;
  width: 92.5%;
  background-color: white;
  margin: 0 auto;
}
section.container_credit {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 86vh;
}
section.container_credit div.credit {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.container_credit div.credit p {
  color: white;
  margin-bottom: 20px;
}
section.container_credit div.credit p span {
  font-weight: 600;
}
section.container_credit div.credit img {
  width: 15%;
}
section.container_credit div.dev {
  width: 40%;
  display: flex;
  justify-content: center;
}
section.container_credit div.dev article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 50px;
}
section.container_credit div.dev article img {
  margin-bottom: 10px;
}
section.container_credit div.dev article p {
  color: white;
  margin-bottom: 10px;
}
section.container_credit div.dev article div.reseaux {
  display: flex;
}
section.container_credit div.dev article div.reseaux img {
  width: 20px;
  margin: 0 10px;
  transition: all 0.5s;
}
section.container_credit div.dev article div.reseaux img:hover {
  scale: 1.15;
}
section.login {
  visibility: hidden;
  position: absolute;
  top: 0;
  height: 100dvh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.858);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.login div.connexion {
  background-color: white;
  width: 550px;
  height: 540px;
  padding: 110px 95px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.login div.connexion form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 47px;
}
section.login div.connexion form h2 {
  color: #393795;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 25px;
}
section.login div.connexion form input {
  background-color: #d2d2d2;
}
section.login div.connexion form input.passwordinput {
  margin-bottom: 4px;
}
section.login div.connexion form input.connecter {
  text-indent: 0;
  background-color: #393795;
  color: white;
  cursor: pointer;
  width: 40%;
  height: 40px;
}
section.login div.connexion form input.connecter:hover {
  background-color: #2b2064;
}
section.login div.connexion form p.mdpoublie {
  font-size: 13px;
  margin-bottom: 15px;
  cursor: pointer;
}
section.login div.connexion form p {
  font-size: 13px;
}
section.login div.connexion img {
  width: 110px;
  margin-bottom: 5px;
}
section.login div.connexion p.inscriptionhome {
  color: #191919;
}
section.login div.connexion p.inscriptionhome a {
  color: #393795;
}
section.login img.closelogin {
  width: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
section.mdpperdu {
  visibility: hidden;
  position: absolute;
  top: 0;
  height: 100dvh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.858);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.mdpperdu form {
  background-color: white;
  padding: 50px 50px 15px;
  width: 30%;
}
section.mdpperdu form h2 {
  font-size: 30px;
  text-align: center;
  color: #3c2d87;
  font-weight: 800;
  margin-bottom: 20px;
}
section.mdpperdu form input {
  background-color: #dcdcdc;
}
section.mdpperdu form input.submitmdpmodif {
  text-indent: 0;
  background-color: #393795;
  color: white;
  cursor: pointer;
  width: 50%;
  height: 40px;
  margin: 0 0 40px;
}
section.mdpperdu form input.submitmdpmodif:hover {
  background-color: #2b2064;
}
section.mdpperdu form img {
  width: 110px;
  margin: 0 auto 5px;
}
section.mdpperdu form p.inscriptionhome {
  text-align: center;
  color: #191919;
}
section.mdpperdu form p.inscriptionhome a {
  color: #393795;
}
section.mdpperdu img.closemdpperdu {
  width: 25px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
div.error {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 420px;
  height: 90px;
  background-color: #101010d6;
  border-radius: 5px;
  border: solid 1px #ff3333;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: error 0.3s linear;
}
div.error img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
div.error article {
  display: flex;
  flex-direction: column;
}
div.error article h3 {
  color: white;
  font-size: 18px;
  margin-top: 0;
}
div.error article p {
  color: white;
  font-size: 13px;
  margin-bottom: 3px;
}
div.error article button {
  color: white;
  background-color: #ff3333;
  border: 0;
  width: 150px;
  height: 20px;
  cursor: pointer;
  border-radius: 2px;
}
@keyframes error {
  0% {
    left: -500px;
  }
  100% {
    opacity: 20px;
  }
}
div.succes {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 420px;
  height: 90px;
  background-color: #101010d6;
  border-radius: 5px;
  border: solid 1px #4af74a;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: succes 0.3s linear;
}
div.succes img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
div.succes article {
  display: flex;
  flex-direction: column;
}
div.succes article h3 {
  color: white;
  font-size: 18px;
  margin-top: 0;
}
div.succes article p {
  color: white;
  font-size: 13px;
  margin-bottom: 3px;
}
div.succes article button {
  color: white;
  background-color: #4af74a;
  border: 0;
  width: 150px;
  height: 20px;
  cursor: pointer;
  border-radius: 2px;
}
@keyframes succes {
  0% {
    left: -500px;
  }
  100% {
    opacity: 20px;
  }
}
